
<div class="comment">
  <% if(locals.user) { %>
    <div class="addNewComment">
      <form action="/comment/create" method="post">
        <input type="text" name="content" id="" />
        <input type="hidden" name="post" value="<%= post._id %>" />
        <button type="submit" id="addNewComment">Add Comment</button>
      </form>
    </div>
  <% } %>
  <% for(comment of post.comments) {%>
    <div class="comment-header">
    <div class="comment-name">
      <% if(comment.user.avatar) { %>
        <img src="<%= comment.user.avatar %>" alt="dp" / id = "dp">
      <% } else { %>
        <img src="https://via.placeholder.com/50" alt="dp" / id = "dp">
      <% } %>
      
      <h4><%= comment.user.name %></h4>
    </div>
    <p>
      <%= comment.content %>
    </p>
  </div>
  <div class="comment-footer">
    <div class="left-section">
      <span><%=comment.likes.length%> Likes</span>
      <form action="/like/toggle" method="post">
        <input type="hidden" name="id" value="<%=comment.id%>" />
        <input type="hidden" name="type" value="Comment" />
        <button type="submit" id="likebtn"><img src="./images/like.png" alt="" id="like" /></button>
      </form>
     
    </div>
    <p id="date-created"><%= comment.createdAt%></p>
  </div>
  <% } %>

  
  
  
  
</div>
