<style>
  .comments a{
    text-decoration: none;
    color: rgb(68, 129, 242);
  }
  .comments h4:hover{
    color: blue;

  }
</style>

<% for(comment of post.comments) {%>

  <div class="comments">
    <div class="comment-header" id="comment-<%= comment._id %>">
      <div class="comment-name">
        <% if(comment.user.avatar) { %>
          <img src="<%= comment.user.avatar %>" alt="dp" / id = "dp">
        <% } else { %>
          <img src="/images/avatar.jpeg" alt="dp" / id = "dp">
        <% } %>
        
        <a href="/user/about/<%=comment.user.id%>"><h4><%= comment.user.name %></h4></a> 
      
      </div>
      <p>
        <%= comment.content %>
      </p>
    </div>
    <div class="comment-footer">
      <div class="left-section">
        <span><%=comment.likes.length%> Likes</span>
        <form action="/like/toggle" method="post" id="likeForm">
          <input type="hidden" name="id" value="<%=comment.id%>" />
          <input type="hidden" name="type" value="Comment" />
          <button type="submit" id="likebtn"><img src="./images/like.png" alt="" id="like" /></button>
        </form>
      
      </div>
      <a id="delete-comment" href="/comment/destroy/<%=comment._id%>"><img src="/images/bin.png" alt=""></a>
      <p id="date-created"><%= comment.createdAt%></p>
    </div>
  </div>

  <% } %>
    
