<% for(post of posts) { %>
  <div class="post">
  <div class="post-header">
    <% if(post.user.avatar) { %>
      <img src="<%= post.user.avatar %>" alt="Profile Picture" / id="post-icon">
    <% } else { %>
      <img src="https://via.placeholder.com/50" alt="Profile Picture" / id="post-icon">
    <% } %>
    
    <h3><%= post.user.name%></h3>
    
    <h4><a href="/post/destroy/<%=post._id%>">Delete</a></h4>
  </div>
  <div class="post-body">
    
    <p>
      
      <%= post.content %>
    </p>
  </div>
  <div class="post-footer">
    <div class="left-section">
      <span><%=post.likes.length%> Likes</span>
      <form action="/like/toggle" method="post">
        <input type="hidden" name="id" value="<%=post.id%>" />
        <input type="hidden" name="type" value="Post" />
        <button type="submit" id="likebtn"><img src="./images/like.png" alt="" id="like" /></button>
      </form>
      
      <span><%=post.comments.length%> Comment</span>
      
      <a href="#"><img src="./images/comment.png" alt="" id="commentShow" /></a>
    </div>
    <p id="date-created"><%= post.createdAt %></p>
  </div>
</div>
<%- include('comment.ejs') %>
<% } %>
