<% for(post of posts) { %>
  <div class="post">
  <div class="post-header">
    <img src="<%=post.user.avatar%>" alt="Profile Picture" / id="post-icon">
    <h3><%= post.user.name%></h3>
  </div>
  <div class="post-body">
    
    <p>
      <%= post.content %>
    </p>
  </div>
  <div class="post-footer">
    <div class="left-section">
      <span><%=post.likes.length%> Likes</span>
      <a href="#"><img src="./images/like.png" alt="" id="like" /></a>
      <span><%=post.comments.length%> Comment</span>
      <a href="#"><img src="./images/comment.png" alt="" id="commentShow" /></a>
    </div>
    <p class="post-details"><%= post.createdAt %></p>
  </div>
</div>
<%- include('comment.ejs') %>
<% } %>
