
<style>

.user-profile {
  display: flex;
  align-items: center;
  margin: 20px;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 24px;
  margin: 0;
}

.email {
  font-size: 16px;
  margin: 0;
  color: #999;
}

.update-section {
  margin: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: none;
}

.section-title {
  font-size: 24px;
  margin-top: 0;
}

.update-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

button[type="button"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5b27d3;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  width: 100px;
}




</style>



<div class="user-profile">
    <% if(profile_user.avatar) { %>
    <img class="profile-photo" src="<%=profile_user.avatar%>" alt="profile photo" id="profie" />
    <% } else { %>
    <img class="profile-photo" src="/images/avatar.jpeg" alt="profile photo" id="profie" />
    <% } %> 
  <div class="profile-details">
    <h2 class="name"><%=profile_user.name%></h2>
    <p class="email"><%=profile_user.email%></p>
  </div>
</div>


<% if(locals.user && locals.user.id == profile_user.id) {%>
  <button type="button" id="showupdate">Update Profile</button>
<div class="update-section">
  <h2 class="section-title">Update Profile</h2>
  <form class="update-form" action="/user/update/<%=profile_user.id%>"
  method="post"
  enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%=profile_user.name%>">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" value="<%=profile_user.email%>">
    </div>
    <div class="form-group">
      <label for="profile-pic">Profile Picture:</label>
      <input type="file" id="profile-pic" name="avatar">
    </div>
    <button type="submit" class="update-button">Update</button>
  </form>
</div>
  <script>
    const show = document.getElementById('showupdate');
    const updateSection = document.querySelector('.update-section');
    show.addEventListener('click', () => {
      
      if(updateSection.style.display === 'block') {
        updateSection.style.display = 'none';
        return;
      }
      updateSection.style.display = 'block';
    })
  </script>

<%- include('../partials/change_password') -%>

<% } %>


