<main>
<div id="main">
      <div id="content">
        <% if(locals.user) { %>
        
        <h2>Add New Post</h2>
        <form action="/post/create" method="post" id="add-new-post">
          <textarea
            name="content"
            id="content"
            cols="25"
            rows="5"
            placeholder="What's on your mind"
          ></textarea>
          <br />
          <button type="submit" id="addNewPost">Add Post</button>
        </form>
        <% } %>
        <div id="freindsList">
          <h4>Freinds List</h4>
          <% if(locals.user) { %>
          <ul>
            
              <% for(friends of all_friends){ %>
              <li><%= friends.to_user.name %> <a href="/user/remove/<%=friends.to_user.id%>">Remove</a></li>
            <% } %>
          </ul>
          <%} %>
        </div>
        <div id="peoplist">
          <h4>People List</h4>
          <ul>
          <% for(let i=0; i<people.length; i++){ %> 
            <li>
              <a href="/user/about/<%=people[i].id%>">
              <%= people[i].name %>
              <br>
              <% if(locals.user) { %>
                <a href="/user/add/<%=people[i].id%>">Add</a>
                <a href="/user/remove/<%=people[i].id%>">Delete</a>
              <% } %>
              
              </a>
            </li> 
          
          <% } %>
          </ul>
        </div>
        <% if(locals.user) { %>
          <img src="/images/fast-forward.png" alt="" id="messageslider">
          <img src="/images/fast-backward.png" alt="" id="messageslider2">
        <div class="chat-box">
          
          <div class="chat-header">Chat</div>
          <div class="chat-messages" id="messages">
          </div>
          <div class="chat-input">
            <input type="text" placeholder="Type your message here..." id="chat-message-input">
            <button id="send-message">Send</button>
          </div>
        </div>
        <% } %>
        
      </div>

      <div class="feed">
        <%- include('../partials/post.ejs') %>
      </div>
    </div>
    
    </main>

    <!-- <script src="/js/like-script.js"></script>
    <script src="/js/post-script.js"></script>
    <script src="/js/comment-script.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<script src="/js/script.js"></script>
<% if(locals.user) { %>
<script>
 

  new chatEngine('messagebox', '<%= locals.user.email %>', '<%= locals.user.name %>')
</script>
<% } %>

