<%- include('./../partials/head.ejs') %>

</head>
<body>
  <%- include('./../partials/nav.ejs') %>
  
  <%- body %>
  <%- include('./../partials/footer.ejs') %>
  <script>
    <% if(flash.success && flash.success.length>0) { %>
      new Noty({
        theme: 'relax',
        text: "<%= flash.success %>",
        type: 'success',
        layout: 'topRight',
        timeout: 1000
      }).show();
    <% } %>

    <% if(flash.error && flash.error.length>0) { %>
      new Noty({
        theme: 'relax',
        text: "<%= flash.error %>",
        type: 'error',
        layout: 'topRight',
        timeout: 1000
      }).show();
    <% } %>


  </script>


</body>
</html>